		<%= link_to image_tag("stylefindrlogo2.png"), dresses_path %> 
		<nav>
			<ul>
				<li><%= link_to "Clothes", dresses_path %></li>
				<li><%= link_to "Designers", designers_path %></li>
				<li><%= link_to "Retailers", '#' %></li>
				<li><%= link_to "Contact Us", '#' %></li>
				<li><%= link_to "About Us", '#' %></li>
				<li><%= link_to "Feedback", '#' %><li>
			</ul>
		</nav>
		
		<div class = "Sidebar">
			<ul>
				<li class="header"><%= link_to "CLOTHES", dresses_path %></li>
				<li class="sub"><%= link_to "Dresses", dresses_path %></li>
				<li class="sub"><%= link_to "Tops", '#' %></li>
				<li class="sub" ><%= link_to "Bottoms", '#' %></li>
				<li class="sub"><%= link_to "Outerwear", '#' %></li>
			</ul>
		</div>